@import 'accessible-autocomplete.min.css';

.js-visible {
  display: none !important;
}

.js-enabled .js-visible {
  display: inline-block !important;
}

.autocomplete__menu{
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
}

.autocomplete__wrapper {
  width: 66.66% !important;
}

a[href="none"] {
  pointer-events: none;  // Disable click
  cursor: default;       // Default cursor, not a pointer
  text-decoration: none; // Remove underline
  color: inherit;        // Inherit color from parent, typically black

  // Override styles from govuk-link class
  &.govuk-link {
    color: inherit;       // Ensure text color is inherited
    text-decoration: none; // Remove underline
  }
}