@import 'accessible-autocomplete.min.css';
$psr-mobile-breakpoint: 640px;

.js-visible {
  display: none !important;
}

.js-enabled .js-visible {
  display: inline-block !important;
}

.autocomplete__menu{
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
}

.autocomplete__wrapper {
  width: 66.66% !important;
}

a[href="none"] {
  pointer-events: none;  // Disable click
  cursor: default;       // Default cursor, not a pointer
  text-decoration: none; // Remove underline
  color: inherit;        // Inherit color from parent, typically black

  // Override styles from govuk-link class
  &.govuk-link {
    color: inherit;       // Ensure text color is inherited
    text-decoration: none; // Remove underline
  }
}

@media (max-width: $psr-mobile-breakpoint) {
  .psr-scrollable-pane {
    overflow-x: scroll;
  }

  .two-column-triple-actiion__action-list-item {
    line-height: 24px;
  }
}

@media print {

  .govuk-link {
    pointer-events: none !important;
    cursor: default !important;
    text-decoration: none !important;
    color: black !important;
  }

  .hmrc-sign-out-nav, .govuk-footer, .govuk-back-link:link, .govuk-breadcrumbs {
    display: none !important;
  }

  .govuk-grid-column-two-thirds {
    width:100%;
  }

  a[href]:after {
    content: none !important;
  }
  @page {
    size: auto;
    margin: 0;
  }
}