package viewmodels

@import viewmodels.InputWidth._
@import viewmodels.PensionSchemeModel

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[Int], viewModel: PensionSchemeModel, params: UrlParams)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, viewModel.title.toMessage)) {

@formHelper(action = viewModel.onSubmit(params), 'autoComplete -> "off") {

@if(form.errors.nonEmpty) {
    @govukErrorSummary(ErrorSummaryViewModel(form))
}

@govukInput(
  PensionSchemeModel(
    field = form("value"),
    label = LabelViewModel(viewModel.heading.toMessage).asPageHeading()
)
.asNumeric()
.withWidth(Fixed10)
)

@govukButton(
    ButtonViewModel(messages("site.continue"))
   )
 }
}